receivers:
  otlp:
    protocols:
      grpc:       
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318
        
processors:
  batch:
    timeout: 5s
    send_batch_size: 1

exporters:
  debug:
    verbosity: detailed
  file:
    path: /data/traces.json
    rotation:
      max_megabytes: 50
      max_backups: 5
      max_days: 3
    format: json

service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [file, debug]